body {
    margin: 0px;
    position: relative;
    background-color: #c0cd79;

}
.nav-bar{
    height: 5vh;
}

.navbar{
    margin-bottom: 0;
    background-color:#c0cd79;
}

.navbar .navbar-brand{
    color: rgb(40, 40, 88);
}

.navbar{
    font-weight: normal;
    font-size: 2vh;
}

.navbar-right div{
    color: rgb(40, 40, 88);
    display: inline-block;
    font-size: 3vh;
}

.navbar-right div:hover{
    color: rgb(132, 132, 192);
}

.navbar-brand {
    font-size: 4vh;
    color: rgb(40, 40, 88);
}

.main-body{
    height: 90vh;
    width: 80%;
    position: relative;
    left: 20%;
    background-color: #c0cd79;
}

.topics-title {
    background-color: #173e43;
    width: 80%;
    height: 8%;
    text-align: center;
    font-size: 5vh;
    color: #dddfd4;
}

#main-content {
    width: 80%;
    height: 100%;
    background-color: #173e43;
    vertical-align: middle;
    font-weight: bolder;
    font-size: 2vh;
    color: white;
}


.content-box {
    width: 100%;
    background-color: #8acac9;
    height: 30%;
    position: relative;
}

.image-box {
    float: left;
    width: 20%;
    height: 100%;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    overflow: hidden;
}

img {
    width: 100%;
    height: auto;
}


.text-box {
    float: left;
    width: 80%;
    height: 100%;
    font-size: 3vh;
}

.title-box {
    width: 100%;
    height: 30%;
    background-color: #66aaa9;
    padding-top: 2%;
    padding-left: 5%;
}

a, .title-box, .title-box p {
    color: rgb(40, 40, 88);
    text-decoration: none;
    font-size: 2vh;
}

a:hover{
    color: rgb(160, 100, 160);
    text-decoration: none;
    cursor: pointer;
}

a:visited{
    color: rgb(40, 40, 88);
    text-decoration: none;
}

.description-box {
    width: 100%;
    height: 70%;
    background-color: #8acac9;
    font-size: 2vh;
    padding: 3% 5%;
}

.description-box p{
    color: white;
}

.modal {
	position: fixed;
	left: 0;
	top: 0;
	height: 100vh;
	width: 100vw;
	background-color: rgb(153, 153, 212, 0.5);
    z-index: 1;
}
.modalBody {
	position: fixed;
	left: 50%;
	top: 50%;
    height: 60vh;
    width: 60vh;
	transform: translate(-50%, -50%);
    /* background-color: white; */
}
.modalContent {
    width: 100%;
    height: 80%;
    margin: auto auto;
}

#picture{
    width: 100%;
    height: 100%;
    background-size: 100%;
    background-repeat: no-repeat;
}

@media (max-width: 1240px){
    #main-content, .topics-title, .main-body{
        width:100%;
        left:0;
    }

}