body {
    /* font-size: 0px; */
    margin: 0px;
    position: relative;
    background-color: lavender;
}

.topics-title,
.title-box,
.description-box {
    font-size: 3rem;
}

.navbar{
    margin-bottom: 0;
}

.main-body{
    width: 80%;
    position: relative;
    left: 20%;
}

.topics-title {
    width: 80%;
    height: 15vh;
    background-color: rgb(204, 52, 52);
    text-align: center;
    padding-top: 5%;
}

#main-content {
    width: 80%;
    height: 85vh;
    background-color: rgb(153, 153, 212);
}

.content-box {
    width: 100%;
    height: 30vh;
    background-color: yellow;
}

.image-box {
    float: left;
    width: 20%;
    height: 100%;
    background-color: rgb(57, 75, 57);
}

.text-box {
    float: left;
    width: 80%;
    height: 100%;
    background-color: black;
}

.title-box {
    width: 100%;
    height: 20%;
    background-color: rgb(0, 63, 0);
    text-align: center;
}

.description-box {
    width: 100%;
    height: 80%;
    background-color: rgb(0, 160, 0);
}