<!DOCTYPE html>
<html>
    <head>
        <script src="https://code.jquery.com/jquery-3.1.0.js"></script>
        <script>
        var settings = {
  "async": true,
  "crossDomain": true,
  "url": "/c219_hackathon2/components/api/../yelpproxy.php?",
  data: {
    term:'food',
    location:'irvine'
  },
  "method": "GET",
  "headers": {
    "apikey": "LYh8aLnK3aKVWOQycd5DzPTTrzZg1JY_DYYxs_2YPhIKd9ZpJfE8qR0TRS6nTfzUbGp5Rc5PgnwuBotVWQsyH1BNTr-m4KQxpgEqPPnBgQoV1tT17HTU1Rvu2zWQXHYx",
    "cache-control": "no-cache",
  }
}

$.ajax(settings).done(function (response) {
  console.log(response);
});
        
        </script>
    </head>
</html>